@media (min-width: 640px) {
  header {
    justify-content: space-between;
  }

  #menu-toggle {
    display: none;
  }

  nav {
    display: block !important;
  }

  nav ul {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
  }

  nav li {
    list-style: none;
  }

  nav a {
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--text-light);
  }

  nav a:hover {
    background-color: var(--accent-color);
  }

  main {
    max-width: 800px;
    margin: auto;
  }
}